*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --color-dark: rgb(13, 17, 19);
    --color-light: white;
    --color-accent: rgb(222, 52, 0);
    --color-accent-dark: rgb(163, 38, 0);
    --color-secondary: rgb(0, 62, 163);
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--color-dark);
    color: var(--color-light);
}