*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --color-dark: rgb(13, 17, 19);
    --color-light: white;
    --color-accent: rgb(222, 52, 0);
    --color-accent-dark: rgb(163, 38, 0);
    --color-secondary: rgb(69, 146, 241);
    --game-background-color: rgb(44, 43, 44);
    --bor-radius: 1em;
    --cubic-bezier: cubic-bezier(0, 0.17, 0.22, 1.11);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    color: var(--color-light);
}

.game {
    /* border: 1px solid white; */
    width: 200px;
    height: 300px;
    position: relative;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

/* .back {
    display: none;
} */


.streamers {
    display: flex;

    img {
        object-fit: cover;
        border-radius: 50%;
        width: 25px;
        height: 25px;

        &:nth-of-type(1) {
            transform: translateX(40%);
            z-index: 1;
        }

        &:nth-of-type(2) {
            transform: translateX(22%);
        }
    }
}

.front {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    > img {
        width: 100%;
        height: 80%;
        object-fit: cover;
        border-radius: var(--bor-radius);
    }

    > p {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 600;
        color: rgb(228, 227, 227);
        margin-top: 8px;
        margin-bottom: 0px;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .viewer {
            font-size: 15px;
            color: rgb(218, 217, 217);
            font-weight: 500;
            display: flex;
            align-items: center;
        }

        .viewer::before {
            display: inline-block;
            content: "\f007";
            font-family: "Font Awesome 7 Free";
            margin-right: 5px;
            font-weight: 600;
            font-size: 13px;
        }
    }
}

.back {
    position: absolute;
    bottom: -16%;
    left: 0;
    right: 0;
    transform: translateY(40%);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;

    .stats {
        margin: 0;
        padding: 0;
        height: 50px;
        padding: 0;
        position: relative;
        display: flex;
        justify-content: center;
        column-gap: 25px;

        p {
            text-align: center;
            font-weight: 500;
            font-size: 15px;
        }

        span {
            display: block;
            color: rgb(131, 130, 131);
            font-size: 13px;
        }
    }

    .stats::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 52%;
        transform: translate(-50%, -50%);
        width: 1px;
        height: 60%;
        background-color: rgb(75, 74, 75);
        margin: 0;
        padding: 0;
    }

    a {
        width: 80%;
        padding: 5px 12px;
        text-align: center;
        text-decoration: unset;
        border-radius: 18px;
        color: var(--color-light);
        font-size: 14px;
        font-weight: 700;
        background-color: var(--color-secondary);
    }

    a:hover {
        background-color: rgb(160, 162, 163);
    }


    .streamers {
        column-gap: 27px;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
    }


    .streamer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 7px 6px;

        .streamer-icon {
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 50%;

            img {
                width: 100%;
                height: 100%;
                transform: unset;
            }
        }
        
        .streamer-name {
            padding: 0;
            margin: 0;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 12px;
            font-weight: 600;
        }
        
        .view {
            font-size: 13px;
            color: rgb(236, 236, 236);
        }

        /* Hover over to see youtube button */
        &:hover {
            .streamer-icon {
                transform: translateY(-20%);
                transition: transform 250ms ease-out;
            }

            .streamer-icon:hover {
                transform: scale(1.1) translateY(-20%);

                &::before {
                    background-color: rgb(201, 32, 32);
                }
            }

            .streamer-icon::before {
                display: block;
                content: "\f04b";
                font-family: "Font Awesome 7 Free";
                font-weight: 700;
                font-size: 10px;
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 50%;
                display: grid;
                place-items: center;
                background-color: rgb(255, 0, 0);
                z-index: 10;
            }

            .streamer-icon::after {
                display: block;
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scale(0.8);
                border-radius: 50%;
                background-color: rgb(255, 0, 0);
                z-index: 1;
                animation: pulsing 2s ease-out infinite;
            }
        }
    }

}

.rank {
    position: absolute;
    left: 77%;
    top: 0%;
    width: 15%;
    height: 15%;
    opacity: 0.70;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    font-size: 17px;
    font-weight: 700;
    z-index: 999;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 75%, 0 100%);
    
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--game-background-color);
    border-radius: 20px;
    z-index: -1;
    transform: scale(0.2, 0.85);
    opacity: 0;
}

.game:hover {
    .front {
        transform: scale(0.7) translateY(-42%); 
        transition: transform 250ms var(--cubic-bezier);

        > p {
            font-size: 1.4rem;
            animation: nameHoverTransition 250ms forwards;
        }

        .stats {
            opacity: 0;
        }
    }

    .back {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
        transition: opacity 0.25s ease-in,
                    transform 0.3s var(--cubic-bezier);
    }

    .background {
        opacity: 1;
        transform: scale(1.35, 1.2) translateY(5%);
        transition: transform 250ms var(--cubic-bezier),
                    opacity 200ms ease-out;
    }

    .rank {
        transform: translate(95%, -28%);
        transition: transform 259ms var(--cubic-bezier);
    }
}


@keyframes nameHoverTransition {
    0% {
        width: 160%;
        opacity: 0;
        text-align: left;
    } 20% {
        width: 160%;
        opacity: 0;
        text-align: left;
    } 70% {
        width: 160%;
        opacity: 0;
        text-align: center;
    } 100% {
        width: 160%;
        opacity: 1;
        text-align: center;
    }
}

@keyframes pulsing {
    0% {
        opacity: 1;
        transform: scale(0.8);
    } 100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

