*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --color-dark: rgb(13, 17, 19);
    --color-light: white;
    --color-accent: rgb(222, 52, 0);
    --color-accent-dark: rgb(163, 38, 0);
    --color-secondary: rgb(0, 62, 163);
    --game-background-color: rgb(44, 43, 44);
    --bor-radius: 1em;
    --cubic-bezier: cubic-bezier(0, 0.17, 0.22, 1.11);
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--color-dark);
    color: var(--color-light);
}

.game {
    /* border: 1px solid white; */
    width: 200px;
    height: 300px;
    position: absolute;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

/* .back {
    display: none;
} */


.streamers {
    display: flex;

    img {
        object-fit: cover;
        border-radius: 50%;
        width: 25px;
        height: 25px;

        &:nth-of-type(1) {
            transform: translateX(40%);
            z-index: 1;
        }

        &:nth-of-type(2) {
            transform: translateX(22%);
        }
    }
}

.front {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    > img {
        width: 100%;
        height: 80%;
        object-fit: cover;
        border-radius: var(--bor-radius);
    }

    > p {
        font-weight: 600;
        color: rgb(228, 227, 227);
        margin-top: 8px;
        margin-bottom: 0px;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .viewer {
            font-size: 15px;
            color: rgb(218, 217, 217);
            font-weight: 500;
        }

    }
}

.back {
    position: absolute;
    z-index: 2;
    bottom: -12%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    background-color: black;

    .stats {
        position: relative;
        display: flex;
        column-gap: 25px;

        p {
            text-align: center;
            font-weight: 500;
            font-size: 15px;
        }

        span {
            display: block;
            color: rgb(131, 130, 131);
            font-size: 13px;
        }
    }

    .stats::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 52%;
        transform: translate(-50%, -50%);
        width: 1px;
        height: 60%;
        background-color: rgb(75, 74, 75);
        margin: 0;
        padding: 0;
    }
}

.rank {
    position: absolute;
    left: 77%;
    top: 0%;
    width: 15%;
    height: 15%;
    opacity: 0.70;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    font-size: 17px;
    font-weight: 700;
    z-index: 999;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 75%, 0 100%);
    
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--game-background-color);
    border-radius: 20px;
    z-index: -1;
    transform: scale(0.2, 0.85);
    opacity: 0;
}

.game:hover {
    .front {
        transform: scale(0.7) translateY(-42%); 
        transition: transform 250ms var(--cubic-bezier);

        > p {
            font-size: 1.4rem;
            animation: nameHoverTransition 250ms forwards;
        }

        .stats {
            opacity: 0;
        }
    }

    .background {
        opacity: 1;
        transform: scale(1.35, 1.2) translateY(5%);
        transition: transform 250ms var(--cubic-bezier);
        transition: opacity 200ms ease-out;
    }

    .rank {
        transform: translate(95%, -28%);
        transition: transform 259ms var(--cubic-bezier);
    }
}


@keyframes nameHoverTransition {
    0% {
        opacity: 0;
        text-align: left;
    } 20% {
        opacity: 0;
        text-align: left;
    } 70% {
        opacity: 0;
        text-align: center;
    } 100% {
        opacity: 1;
        text-align: center;
    }
}

